* {
    text-decoration: none;
    margin : 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    position:relative;
    color: #364f6b;
}

.menu {
    float: right;
    position: relative;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}


nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.foto {
    width: 20%;
    margin: 0 auto;
}

.foto img {
    width: 80%;
    border-radius: 50%;
}

.foto p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}